.collection-preview {
    display: flex;
    flex-direction: column;
    
  
    .title {
      font-size: 35px;
    
    }
  
    .preview {
      display: inline-flex;
      justify-content: space-between;
    }
  }
  